<article class="post">
  <div class="title">
    <h3><a href="/post/{{id}}">{{title}}</h3></a>
  </div>
  <div class="meta">
    <div class="post-body">
    {{post_body}}
    </div>
    by {{user.username}} on {{format_date post.created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>